html {
  position: relative;
  background-color: #faf8f8 !important;
  font-family: 'Nunito', serif;
  color: #888d94;
}

#main {
  min-height: 70%;
  min-height: -webkit-calc(100% - 206px);
  min-height: -moz-calc(100% - 206px);
  min-height: calc(100% - 206px);
}

#todo {
  margin: 10px 20px 10px 20px;
}

#content {
  margin-top: 75px;
}

#header {
  text-align: center;
}

#clock {
  margin: 0 auto;
}

/* --- TIMER STYLES --- */

.navbar {
  box-shadow: 0px 2px 7px 0px #dbdbdb;
}

.navbar.is-fixed-bottom,
.navbar.is-fixed-top {
  z-index: 10;
}

.timer {
  margin: 0 auto;
  font-size: 2em;
  max-width: 175px;
}

.timer-time {
  float: left;
  width: 120px;
}

.timer-control {
  float: right;
}

#clock svg.svg-inline--fa {
  font-size: 24px;
  margin-top: -5px;
}

#clock svg.svg-inline--fa:hover {
  color: #fd6b1c !important;
}

svg#pause {
  margin-left: 5px;
}

.config-gear {
  position: fixed;
  font-size: 20px;
  top: 20px;
  right: 20px;
  color: 434041;
}

.config-gear:hover {
  font-size: 22px;
  color: #fd6b1c !important;
  /*-webkit-transition: color 0.5s, font-size 0.5s;
  transition: color 0.5s, font-size 0.5s;*/
}

/* INPUT STYLES */

input.input.is-large::placeholder {
  color: #b5b5b5;
}

input.input.is-large::placeholder:active {
  color: #b5b5b5;
}

input.input.is-large {
  color: #434041;
  background-color: #faf8f8;
  box-shadow: none;
}

#task-input {
  width: 78%;
  margin-right: 1%;
  display: inline;
}

/* Task Styles */

.tasks {
  text-align: center;
}

.tags {
  margin-bottom: 0px;
}

#tag-input {
  width: 17%;
  margin-right: 5px;
  margin-left: 1%;
}

a {
  color: #434041 !important;
}

a:hover {
  font-weight: bold;
  color: #fd6b1c !important;
  -webkit-transition: color 0.5s, font-weight 0.5s;
  transition: color 0.5s;
}

.panel-block {
  color: #434041 !important;
}

.stats {
  text-align: center;
}

.minutes {
  margin-right: 10px;
}

.task-list {
  width: 75%;
  margin: 0 auto;
  font-size: 16px;
}

.panel-block i {
  padding-left: 10px;
}

.panel-block .pull-right {
  width: 10%;
}

.panel-block .pull-left {
  width: 90%;
  text-align: left;
}

.panel-tabs:first-child {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.panel-tabs a:hover {
  border-bottom: solid 1px;
}

.tab-active {
  font-weight: bold;
  color: #fd6b1c !important;
  border-bottom: solid 1px !important;
}

.pull-left i {
  font-size: 10px;
  margin-bottom: 5px;
}

i.fa {
  color: black;
}

.clear-all {
  font-size: 0.875em;
  text-align: center;
}
